<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legendary</title>
    <link href="../public/stylesheets/legendary.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans" rel="stylesheet">
</head>
<body>
<header>

    <img src="../public/images/logo.svg" alt="Logo">

    <button type="button" class="hamburguer-menu">
        <img src="../public/images/hamburguer.svg" alt="Hamburguer Menu">
    </button>

    <nav class="navbar">
        <a href="#">
            Home
        </a>
        <a href="#">
            Pokédex
        </a>
        <a href="#">
            Legendaries
        </a>
        <a href="#">
            Documentation
        </a>
    </nav>
</header>
<main>
    <h1>Legendaries</h1>
    <div class="container-principal">
        <div class="linha"></div>
        <div class="story-pokemon">
            <img src="../public/images/mew.svg" alt=""/>

            <div>
            <h2>Mew</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
            ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
            dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
            nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        </p>
            <div class="atributos">
                <div class="container-atr">

                    <div class="atr">
                        <p>Healthy Points</p>
                        <p>1000,000</p>
                        <div class="barra-atributos">
                            <div class="barra-porcen"></div>
                        </div>
                    </div>

                    <div class="atr">
                        <p>Experience</p>
                        <p>1000,000</p>
                        <div class="barra-atributos">
                            <div class="barra-porcen"></div>
                        </div>
                    </div>

                    <div class="atr">
                        <p>Experience</p>
                        <p>1000,000</p>
                        <div class="barra-atributos">
                            <div class="barra-porcen"></div>
                        </div>
                    </div>

                    <div class="atr">
                        <p>Experience</p>
                        <p>1000,000</p>
                        <div class="barra-atributos">
                            <div class="barra-porcen"></div>
                        </div>
                    </div>

                    <div class="atr">
                        <p>Experience</p>
                        <p>1000,000</p>
                        <div class="barra-atributos">
                            <div class="barra-porcen"></div>
                        </div>
                    </div>

                    <div class="atr">
                        <p>Experience</p>
                        <p>1000,000</p>
                        <div class="barra-atributos">
                            <div class="barra-porcen"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
        <div class="container-selec">
        <img class="btn left" alt="" src="../public/images/seta.png" >
        <img alt="" class="legendaryCard" src="../public/images/legendaryCard1.svg">
        <img alt="" class="legendaryCard" src="../public/images/legendaryCard2.svg">
        <img alt="" class="legendaryCard" src="../public/images/legendaryCard3.svg">
        <img alt="" class="legendaryCard" src="../public/images/legendaryCard4.svg">
        <img alt="" class="legendaryCard" src="../public/images/legendaryCard5.svg">
        <img alt="" class="legendaryCard" src="../public/images/legendaryCard6.svg">
        <img class="btn right" alt="" src="../public/images/seta.png">
    </div>
    </div>
</main>
</body>
</html>